# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local
*.tgz

# Tooling caches / outputs
coverage
.vitepress/cache
.vitepress/dist
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# vitepress
docs/.vitepress/dist
docs/.vitepress/cache
